****************************************************************************************
            Welcome to {{ ansible_facts.hostname }}                                     
            IP address: {{ ansible_facts.default_ipv4.address }}
            OS version: {{ ansible_facts.distribution }}
----------------------------------------------------------------------------------------
             THIS system is managed By ServerAdmin@tcs.com
----------------------------------------------------------------------------------------        
